/*
   ___  _           _       _
  / __|| | __ _  __| |/\ /\(_)
 / /   | |/ _` |/ _` / / \ \ |
/ /___ | | (_| | (_| \ \_/ / |
\____/ |_|\__,_|\__,_|\___/|_|
  • • C S S • S T Y L E S • •

Where reasonable, class names should be prefixed with 'clad' to minimize possible name collisions.
The class name should be the same as the exported component name.
(i.e. .clad.table for the Table component)

When new CladUi components are created, they should be name according to the above style guide, and
have a placeholder class added below. Classes should be added both to the component & to this file
even if there is no plan to add styles to that class.
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  color: rgba(255, 255, 255, 0.8);
}

a {
    color: inherit;
}

/*
   _____      _
  / ____|    | |
 | |     ___ | | ___  _ __ ___
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/
T E X T  &  B A C K G R O U N D S
*/

.clad.alert {
    color: rgba(105, 232, 86, 1);                 /* neonGreen */
}

.clad.default {
    color: rgba(255, 255, 255, 0.8);              /* greyLight */
}

.clad.primary {
    color: rgba(25, 123, 206, 1);                 /* blueLake */
}

.clad.secondary {
    color: rgba(94, 82, 207, 1);                  /* aquaMarine */
}

.clad.tertiary {
    color: rgb(249, 255, 202, 1)                  /* dingyCream */
}

.clad.bg-alert {
    background-color: rgba(105, 232, 86, 1);       /* neonGreen */
    color: rgba(0, 0, 0, 1);                       /* justBlack */
}

.clad.bg-default {
    background-color: rgba(255, 255, 255, 0.8);    /* greyLight */
    color: rgba(0, 0, 0, 1);                       /* justBlack */
}

.clad.bg-primary {
    background-color: rgba(25, 123, 206, 1);      /* blueLake */
    color: rgba(255, 255, 255, 1);                /* justWhite */
}

.clad.bg-secondary {
    background-color: rgba(94, 82, 207, 1);       /* aquaMarine */
    color: rgba(255, 255, 255, 1);                /* justWhite */
}

.clad.bg-tertiary {
    background-color: rgb(249, 255, 202, 1);      /* dingyCream */
    color: rgba(34, 34, 34, 1);                   /* greyDark */
}


/*
   _____                                             _
  / ____|                                           | |
 | |     ___  _ __ ___  _ __   ___  _ __   ___ _ __ | |__ ___
 | |    / _ \| '_ ` _ \| '_ \ / _ \| '_ \ / _ \ '_ \| __|/ __|
 | |___| (_) | | | | | | |_) | (_) | | | |  __/ | | | |_ \__ \
  \_____\___/|_| |_| |_| .__/ \___/|_| |_|\___|_| |_|\__||___/
                       | |  ________________________________
                       |_|  Note: Some styles may be dynamicly
                            overwritten via the javascript theme.
                            ---------------------------------
*/


/*
  ___      _   _ 
 | _ )_  _| |_| |_ ___ _ _ 
 | _ \ || |  _|  _/ _ \ ' \ 
 |___/\_,_|\__|\__\___/_||_|

*/

.clad.button {
  margin: 1%;
  border: 1px solid black;
  font-size: 0.8em;
}


/*
  _____     _    _     
 |_   _|_ _| |__| |___ 
   | |/ _` | '_ \ / -_)
   |_|\__,_|_.__/_\___|
*/

.clad.table {
  color: black;
}
.clad.tbody {}
.clad.td {}
.clad.tfoot {}
.clad.thead {}
.clad.tr {}

.clad.tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.4);  /* defatult + alpha */
}

.clad.tbody tr:nth-child(even) {
  background-color: rgba(25, 123, 206, 0.2);  /* primary + alpha */
}

.clad.tbody tr {
  background-color: black;
}

.clad.table {
  background-color: rgba(255, 255, 255, 0.4);  /* defatult + alpha */
}

/*
   ___             _ 
  / __|__ _ _ _ __| |
 | (__/ _` | '_/ _` |
  \___\__,_|_| \__,_|
 */

.clad.card {}


/*
  ___                _   
 |_ _|_ _  _ __ _  _| |_ 
  | || ' \| '_ \ || |  _|
 |___|_||_| .__/\_,_|\__|
          |_|  
*/
.clad.input {}


/*
  _  _          ___           
 | \| |__ ___ _| _ ) __ _ _ _ 
 | .` / _` \ V / _ \/ _` | '_|
 |_|\_\__,_|\_/|___/\__,_|_|  
                              
*/
.clad.navbar {}


/*
  ___                   _                 
 |   \ _ _ ___ _ __  __| |_____ __ ___ _  
 | |) | '_/ _ \ '_ \/ _` / _ \ V  V / ' \ 
 |___/|_| \___/ .__/\__,_\___/\_/\_/|_||_|
              |_| 
*/
.clad.option {}

.clad.select {}
